@media screen and (max-width: 2950px)  {
    .map{
    height: 500px;
    width: 100%;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    .floatright {
        float:right;
        width: 100%;}
}
}
@media screen and (max-width: 670px)  {
    .map{
    height: 500px;
    width: 100%;
    margin-left: 20px;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    .floatright {
        float:right;
        width: 100%;}
}
}
// @media screen and (max-width: 1681px)  {
//     .map{
//         height: 500px;
//         width: 1550px;
//         margin-left: 30px;
//         margin-bottom: 30px;}
//     .floatright 
//     {
//     float:right;
//     width: 900px;
//     } 
// }
// @media screen and (max-width: 1556px)  {
//     .map{
//         height: 500px;
//         width: 1450px;
//         margin-left: 30px;
//         margin-bottom: 30px;}
//     .floatright 
//     {
//     float:right;
//     width: 900px;
//     } 
// }
// @media screen and (max-width: 1484px)  {
//     .map{
//         height: 500px;
//         width: 1350px;
//         margin-left: 30px;
//         margin-bottom: 30px;}
//     .floatright 
//     {
//     float:right;
//     width: 900px;
//     } 
// }
// @media screen and (max-width: 1380px)  {
//     .map{
//         height: 500px;
//         width: 1350px;
//         margin-left: 30px;
//         margin-bottom: 30px;}
//     .floatright 
//     {
//     float:right;
//     width: 900px;
//     } 
// }
// @media screen and (max-width: 1285px)  {
//     .map{
//         height: 500px;
//         width: 1250px;
//         margin-left: 30px;
//         margin-bottom: 30px;}
//     .floatright 
//     {
//     float:right;
//     width: 900px;
//     } 
// }
// @media screen and (max-width: 1185px)  {
//     .map{
//         height: 500px;
//         width: 1050px;
//         margin-left: 30px;
//         margin-bottom: 30px;}
//     .floatright 
//     {
//     float:right;
//     width: 900px;
//     } 
// }