.container {
  font-family: 'Inter';
  font-style: normal;
  display: flex;
  width: auto;
    height: auto;
    margin: auto;
    align-items: center;
  .rectangle {
    margin-left: 13px;
    width: 100px;
    height: 40px;
    background: #000;
  }
  .rectangle1 {
    margin-left: 13px;
    width: 100px;
    height: 40px;
    background: #1F75FE;
  }
  .rectangle2 {
    margin-left: 13px;
    width: 100px;
    height: 40px;
    background: #A62F00;
  }
  .rectangle3 {
    margin-left: 13px;
    width: 100px;
    height: 40px;
    background: #F93446;
  }
  .rectangle4 {
    margin-left: 13px;
    width: 100px;
    height: 40px;
    background: #F97E34;
  }
  .rectangle5 {
    margin-left: 13px;
    width: 100px;
    height: 40px;
    background: #3450F9;
  }
  .textarea{
    margin-left: 13px;
    width: 200px;
    height: 55px;

  }
  .textOfColor{
    text-decoration: none;
  }
  .title{
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    margin-left: 10px;
    padding: auto;
  }
}
